---
---
.page-header {
  &.path-tracing-in-4d {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/rendering-four-dimensions.jpg");
    background-size: cover;
    background-position: center;
  }
}