---
---
.page-header {
  &.projects {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/projects-background.jpg");
    background-size: cover;
    background-position: center;
  }
}

body, html {
  background-color: #f8f8f8;
}
