---
---
.page-header {
  &.scenery {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/scenery-logo-v1.svg");
    background-size: cover;
    background-position: center;
  }
}