---
---
.page-header {
  &.tesserace {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/img/tesserace-047-background-full.jpg");
    background-size: cover;
    background-position: center;
  }
}