---
---
.page-header {
  &.wordle-solver {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("/img/wordle-background.svg");
    background-size: 25%;
    background-position: center;
    background-repeat: repeat;
  }
}