
.home-banner {
  background: linear-gradient(rgba(15, 0, 30, 0.6), rgba(15, 0, 30, 0.9)), url("/img/flattening-convolutions-background-2-full.jpg");
  background-size: cover;
  background-position: center;

  padding: 5em 2rem 2rem;

  display: flex;
  justify-content: center;

  text-shadow: 0.1rem 0.1rem 0.3rem rgba(15, 0, 30, 1);

  .home-banner-contents {
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    .home-hi {
      color: #fff8ff;
    }

    h1, div {
      max-width: 40rem;
    }

    $bigger: 40rem;

    h1 {
      padding: 0;

      margin: 0.5rem 0 0;

      // TODO: better font
      font-size: 3rem;
      font-weight: 500;

      @media (min-width: $bigger) {
        font-size: 4rem;
      }

      color: #fff;
    }

    .home-tagline {
      font-size: 1.25rem;
      font-weight: 400;
      color: rgba(255,255,255,0.6);
      margin-top: -0.2rem;

      @media (min-width: $bigger) {
        font-size: 1.5rem;
      }
    }

    .home-description {
      margin-top: 1.2rem;
      font-size: 1rem;
      font-weight: 300;
      color: rgba(255,255,255,0.6);

      a {
        color: rgba(255,255,255,0.8);
        font-weight: 500;
      }
    }

    .social-icons {
      margin-top: 1em;
      display: flex;
      gap: 1.5em;
      justify-content: center;
      a {
        transform: scale(1.3);
        color: #fff;
      }
    }
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem 2rem;

  margin: 0 auto;
  max-width: 80rem;

  @media (min-width: 50rem) {
    flex-direction: row;
    gap: 3rem;
  }

  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  & > div {
    flex: 1;
  }

  div {
    h2 {
      text-align: center;
      margin-bottom: 2rem;

      a {
        color: #333;
      }
    }
  }
}