.want-to-play {
  color: #333;
  text-decoration: none;
}

.slitherlink-featured {
  display: flex;
  flex-direction: column;

  @media (min-width: 40rem) {
    flex-direction: row;
  }
}

.examples {
  text-align: center;
  margin: 0.5rem auto;
}

.examples-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px
}

.example {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  max-width: 100%
}

.example-div {
  margin: 0 auto;

  // fallback
  width: 7em;
  height: 7em;
  background-color: #aaa;

  // Add a "loading" text
  &::before {
    content: "Loading...";
    display: block;
    text-align: center;
    line-height: 7em;
    color: #fff;
  }

  // Remove this once we have the class .loaded
  &.loaded::before {
    display: none;
  }

  &.loaded {
    width: auto;
    height: auto;
    background-color: inherit;
  }
}

.caption {
  text-align: left;
  margin: 0.5rem auto;
}