<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title%}{{ page.title }} - {% endif %}Jonathan Olson</title>
	<link href="/css/main.css" rel="stylesheet">

	{% if page.mathjax %}
		<script>
		MathJax = {
			tex: {
				inlineMath: [ ['$', '$'], ['\\(', '\\)'] ]
			},
			svg: {
				fontCache: 'global'
			}
		};
		</script>
		<script
			type="text/javascript" id="MathJax-script" async
			src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
		</script>
	{% endif %}

	{% if page.codemirror %}
	<script src="/lib/codemirror-5.52.2.min.js"></script>
	<script src="/lib/codemirror-5.52.2.javascript.min.js"></script>
	<link href="/css/codemirror.css" rel="stylesheet">
	{% endif %}

	{% include google-analytics.html %}
	{% seo %}
</head>
<body>
<div class="wrapper">
	<div class="top">
		<a class="home" href="/">Jonathan Olson</a>
		<ul class="masthead">
			<li {% if page.categories contains 'home' %}class="selected"{% endif %}>
				<a href="/">Home</a>
			</li>
			<li {% if page.categories contains 'project' %}class="selected"{% endif %}>
				<a href="/projects">Projects</a>
			</li>
			<li {% if page.categories contains 'article' %}class="selected"{% endif %}>
				<a href="/articles">Articles</a>
			</li>
		</ul>
	</div>
	{% if page.title %}
	<div class="page-header{% if page.header %} {{ page.header }}{% endif %}">
		<h1>{{ page.title }}</h1>
		{% if page.lead %}
		<p class="lead">{{ page.lead }}</p>
		{% endif %}
	</div>
	{% endif %}
	<div class="content">
		{{ content }}
	</div>
	<div class="footer">
		<div class="footer-text">
			<div>
				<a href="/" class="home">Jonathan Olson</a>
			</div>
			<div class="found-a-problem">
				Want to tackle a problem together or dive into exciting topics? Let’s chat!
			</div>
		</div>
		<div class="footer-links">
			<div>Email</div>
			<div><script>document.write('<a href="mailto:jonathan.olson' + '@colorado.edu">jonathan.olson' + '@colorado.edu</a>');</script></div>
			<div>GitHub</div>
			<div><a href="https://github.com/jonathanolson">github.com/jonathanolson</a></div>
			<div>Mastodon</div>
			<div><a href="https://mastodon.social/@muyyatin">mastodon.social/@muyyatin</a></div>
		</div>
		<div>
		</div>
		<div style="clear: both;"></div>
		<div id="footer-banner-holder"></div>
	</div>
</div>
</body>
</html>
